.azeret-mono-normal{
    font-family: "Azeret Mono", monospace , sans-serif;
    font-optical-sizing: auto;
    font-style: normal;}


nav{
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 50px;
margin-right: 150px;
margin-left: 150px;
}

.nav name{
    font-size: 28px;
    font-weight: 800px;
    width: 114px;
    height: 34px;
    line-height: 33px;
}

nav ul li{

    text-decoration: none;
    list-style: none;
}

.hero{
display: flex;
background-image: url("../assets/Hero-bg.png");
justify-content: center;
}

.banner{
margin-top: 26px;
 text-align: center;
 justify-content: center;
}

.banner-text{

    justify-content: center;
    margin-left: 221px;
    margin-right: 221px;


}

.banner-title{

    display: flex;
    text-align: center;
    margin-bottom: 24px;
    
}

.section description{

    font-size: 16px;
    font-weight: 400px;
    margin-bottom: 32px;

}


.nav-button{
display: flex;
width: 228px;
height: auto 58px;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 17px 24px 17px 24px;
box-sizing: border-box;
background-color: rgb(255, 255, 255);
border: 1px solid rgb(13, 19, 33);
border-radius: 8px;
opacity: 0.8;
font-size: 20px;
font-weight: 600;
color: rgb(13, 19, 33);
}

.banner button{
justify-content: center;
align-items: center;
padding: 21px 24px 21px 24px;
border-radius: 8px;
background: rgb(13, 19, 33);
font-size: 20px;
font-weight: 600;
color: rgb(255, 255, 255);
margin-bottom: 44px;
}


.second-section-bg{

    background-color: rgba(13, 19, 33, 0.02);;
    margin-top: 74px;
    margin-left: 148px;
    margin-right: 152px;
    margin-bottom: 90px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.why-web{

    text-align: center;
    color:rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800px
}


.why-web-des{

    text-align: center;
}


.box-part-one{

    
    
    background-color: white;
    margin-top: 32px;
    margin-left: 97px;
    margin-right: 97px;
    margin-bottom: 32px;

    
}


.box-part-two{



    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 48px;


}


.i-will-do{

    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700px;
}


.i-will-des{

    font-size: 16px;
    font-weight: 400px;
    color: #0D1321;
    opacity: 0.7;

}

.box-btn{
width: 171px;
height: 47px;
display: flex;
justify-content: center;
align-items: center;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;

color: rgb(13, 19, 33);;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
}


.youtube{

    margin-top: 74px;
    margin-left: 148px;
    margin-right: 152px;
    margin-bottom: 90px;
}





.youtube-box{
    display: flex;
    justify-content: center;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.2);
    padding: 32px;
}

iframe{
display: flex;
justify-content: center;
border-radius: 16px;


}


.youtube-heading{
    text-align: center;
    font-size: 32px;
    font-weight: 800px;
    color: #0D1321;
}

.youtube-des{

    text-align: center;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400px;
    opacity: 0.7;


}


.target-section{
    margin-left: 148px;
    margin-right: 152px;


}


.target-title{

    text-align: center;
    font-size: 32px;
    font-weight: 800px;
    color: rgb(13, 19, 33);
}


.target-des{

    text-align: center;
    font-size: 16px;
    font-weight: 400px;
}





.skills-container{

    display: flex;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 111px;

}






.skill-one{
    background: rgba(255, 76, 30, 0.05);;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-two{
    background: rgba(0, 76, 232, 0.05);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.skill-three{
    background: rgba(255, 223, 0, 0.05);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

    
}

.skill-title{

    font-size: 24px;
    font-weight: bolder;

}

.skill-description{

    font-size: 16px;
    font-weight: 400px;
    opacity: 0.7;

}






.next-skills-container{
display: flex;
justify-content: space-around;
padding: 40px;
gap: 150px;

box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 16px;
background: rgb(255, 255, 255);

margin-top: 48px;
margin-bottom: 24px;

}








.next-skill-title{
   
    font-size: 24px;
    font-weight: bolder;

}

.next-skill-description{


    font-size: 16px;
    font-weight: 400px;
    opacity: 0.7;

}


a{
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 700;

}







